spring:
  application:
    name: notification-service

  datasource:
    url: jdbc:postgresql://localhost:5433/notification_db
    username: auction
    password: 123456

  jpa:
    hibernate:
      ddl-auto: validate

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

server:
  port: 8084